%ul#menu
	= li_tag(link_to('Inicio', root_path))
	= li_tag(link_to('Quiénes somos', somos_path))
	= li_tag(link_to('Productos', productos_path))
	= li_tag(link_to('Recetas Bak', recetas_path))
	= li_tag(link_to('Contacto', contacto_path))